.photo1 {
 width: 800px;
 object-fit: cover;
}
.photos{
    width: 300px;
    height: 300px;
    object-fit: contain;
}
.vl {
    border-right: 2px solid;
    margin-right: 3px;
    top: 0;
  }