.first-border {

    margin: auto;
    padding: 3px;
    width: 50%;
    background: white;
    border: 5px solid darkgray;
    margin-top: 40px;
    
    }
    
    
    .haha {
        width: auto;
        height: 30vh;
        position: absolute;
        border-radius: 200px;
        margin-left: 10px;
        margin-top: 10px;
    
    }
    
    .second-name {
        position: absolute;
        margin-left: 225px;
        margin-top: 10px;
        font-family: centurygothic;
        color: darkblue;
        font-weight: bolder;
        font-size: 50;
    }
    
    .name {
        position: absolute;
        margin-left: 15px;
        margin-top: 190px;
        font-family: centurygothic;
        color: black;
    
    }
    
    .paragraph {
    
        position: absolute;
        margin-left: 5px;
        margin-top: 236px;
        font-family: monospace;
        color: black;
    }
    
    .personal-background {
    
    position: absolute;
        color: darkgray;
        margin-left: 220px;
        font-family: centurygothic;
        margin-top: 75px;
    
    }
    
    .personal-background1 {
    
    font-size: 13px;
        position: absolute;
        color: black;
        margin-top: 95px;
        margin-left: 190px;
    
    }
    
    .personal-background2 {
    
    font-size: 13px;
        position: absolute;
        color: black;
        margin-top: 95px;
        margin-left: 320px;
    
    
    }
    
    .work-experience1 {
        position: absolute;
        color: black;
        margin-left: 42px;
        font-family: centurygothic;
        margin-top: 300px;
    }
    
    .work-experience {
        font-size: 13px;
        position: absolute;
        color: black;
        margin-top: 300px;
        margin-left: 190px;
    
    }
    
    .educ-background {
        position: absolute;
        color: black;
        margin-left: 65px;
        font-family: centurygothic;
        margin-top: 495px;
    }
    
    .educ-background2 {
        font-size: 13px;
        position: absolute;
        color: black;
        margin-top: 495px;
        margin-left: 190px;
    
    }
    
    .hobbies {
    
    position: absolute;
        color: black;
        margin-left: 65px;
        font-family: centurygothic;
        margin-top: 780px;
    
    }
    
    .hobbies2 {
    
    font-size: 13px;
        position: absolute;
        color: black;
        margin-top: 780px;
        margin-left: 190px;
    
    }
    
    .skills {
        position: absolute;
        color: black;
        margin-left: 80px;
        font-family: centurygothic;
        margin-top: 960px;
    }
    
    .skills2 {
    
    
    font-size: 13px;
        position: absolute;
        color: black;
        margin-top: 960px;
        margin-left: 190px;
    
    }
    
    .cen {
        font-family: monospace;
        font-weight: bolder;
    }
    
    .accenture {
        font-family: monospace;
    }
    
    
    .first-line {
    margin-left: 25px;
    margin-right: 45px;
    margin-top: 225px;
    border: 3px solid white;
    border-radius: 5px;
    width: 12%;
    position: absolute;
    }
    
    .second-line {
    
        margin-left: 25px;
    margin-right: 45px;
    margin-top: 290px;
    border: 3px solid darkorange;
    border-radius: 5px;
    width: 12%;
    position: absolute;
    
    }
    
    .third-line {
    
        margin-left: 205px;
    margin-right: 45px;
    margin-top: 290px;
    border: 3px solid darkorange;
    border-radius: 5px;
    width: 32%;
    position: absolute;
    
    }
    
    .fourth-line {
    
        margin-left: 25px;
    margin-right: 45px;
    margin-top: 485px;
    border: 3px solid darkorange;
    border-radius: 5px;
    width: 12%;
    position: absolute;
    
    }
    
    .sixth-line {
    
        margin-left: 25px;
    margin-right: 45px;
    margin-top: 770px;
    border: 3px solid darkorange;
    border-radius: 5px;
    width: 12%;
    position: absolute;
    
    }
    
    .fifth-line {
        margin-left: 205px;
    margin-right: 45px;
    margin-top: 485px;
    border: 3px solid darkorange;
    border-radius: 5px;
    width: 32%;
    position: absolute;
    
    }
    
    .seventh-line {
        margin-left: 205px;
    margin-right: 45px;
    margin-top: 770px;
    border: 3px solid darkorange;
    border-radius: 5px;
    width: 32%;
    position: absolute;
    }
    
    .eight-line {
        margin-left: 25px;
    margin-right: 45px;
    margin-top: 950px;
    border: 3px solid darkorange;
    border-radius: 5px;
    width: 12%;
    position: absolute;
    
    }
    
    .ninth-line {
        margin-left: 205px;
    margin-right: 45px;
    margin-top: 950px;
    border: 3px solid darkorange;
    border-radius: 5px;
    width: 32%;
    position: absolute;
    }
    
    .back-button {
        position: sticky;
        text-align: left;
        font-weight: bolder;
        font-size: 30px;
        font-family: monospace;
    }
    
    .back-button a:hover {
        position: sticky;
        transition: .1s;
        color: darkorange;
        text-decoration: none;
    }
    
    .back-button {
        font-size: 40px;
    }
    
    .backback {
        text-decoration: none;
        color: cyan;
    }
    
    .color-fill {
        margin-left: 0;
        height: 199vh;
        width: 200px;
        background: darkgray;
    }
